@import url(//fonts.googleapis.com/css?family=Lato:300:400);

body {
    font-family: 'Lato', sans-serif;
    margin:0;
}

#social-nav {
    width: 80px;
    position: fixed;
    left: 5px;
    top: 0;
    bottom: 0;
    font-size: 17px;
}

#social-nav ul {
    margin-top: 214px;
    width: 56px;
}

#social-nav ul li {
    margin: 0 0 21px;
    display: block;
    text-align: center;
}

li {
    list-style: none;
}

.btn-style {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: .5rem;
}


.header {
  position:relative;
  text-align:left;
  background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
  color:white;
  height: 600pxs;
}


.inner-header {
  height:65vh;
  width:100%;
  padding: 0;
}

/* Scroll */
#section05 {
    padding-top: 70px;
  }
  #section05 #scroll-span {
    position: absolute;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb05 1.5s infinite;
    animation: sdb05 1.5s infinite;
    box-sizing: border-box;
  }
  @-webkit-keyframes sdb05 {
    0% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }
  @keyframes sdb05 {
    0% {
      transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.waves {
  position:relative;
  width: 100%;
  height:27vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:212px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

.c-lab {
    color: white;
    font-size: 1.5em;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}