@import url(//fonts.googleapis.com/css?family=Lato:300:400);

body {
    font-family: 'Lato', sans-serif;
    margin:0;
}

#hero-tag {
    font-weight: 400;
    font-size: 2.8rem
}

#hero-sub-tag {
    font-weight: 200;
    font-size: 1.5rem;
}

#social-nav {
    width: 80px;
    position: fixed;
    left: 5px;
    top: 3.3rem;
    bottom: 0;
    font-size: 17px;
    opacity: .4;
}

#social-nav ul {
    margin-top: 18.8rem;
    width: 56px;
}

#social-nav ul li {
    margin: 0 0 21px;
    display: block;
    text-align: center;
}

li {
    list-style: none;
}


.header {
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
  color:white;
  height: 650px;
}

.inner-header {
  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
}

/* Scroll */
#section05 {
    padding-top: 70px;
  }
  #section05 #scroll-span {
    position: absolute;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb05 1.5s infinite;
    animation: sdb05 1.5s infinite;
    box-sizing: border-box;
  }
  @-webkit-keyframes sdb05 {
    0% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }
  @keyframes sdb05 {
    0% {
      transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:27vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:212px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* About Me Section */

#aboutme-conatiner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 1.5rem;
    height: fit-content;
    margin-bottom: 2rem;
}

.about-section {
    display: block;
    flex: none;
    width: 90%;
    align-self: center;
}

#aboutme {
    text-align: center;
    font-weight: 400;
    font-size: 2em;
}

#aboutme-para {
    text-align: center;
    font-weight: 200;
    line-height: 1.5;
    font-size: 1.5em;
}

.chase {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
}

.pic-chase {
  border-radius: 22.6em;
  width: 10rem;
  height: 10rem;
}

/* Skills */

#skills {
    background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
    height: fit-content;
    border-radius: .5rem;
}

.skill-headers {
  background: linear-gradient(68deg, rgba(84,58,183,1) -7%, rgba(0,172,193,1) 102%);
  /* margin-top: -6rem; */
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: fit-content;
  box-shadow:  0px 6px 29px -2px black;
}

.skill-name {
  font-size: 2em;
  color: white;
  font-weight: 400;
}

.skill-name-p {
  color: white;
}

.icon-skill {
  height: 50px;
  width: 50px;
}

.skill-details {
  color: white;
  margin-top: .5rem;
}

.skills-lists {
  margin-top: .7rem;
}

.list-title {
  font-size: 1.3em;
}


/* Projects */

.projects .project-grid figure {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  box-shadow:  0px 6px 29px -2px black;
}

.test2 {
  padding-top: 34%;
}

.img {
  display: block;
}



/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:167px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}

.footerr {
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(45, 44, 44);
  color: gray;
}

.footer-cont {
  background: transparent;
}
